@tailwind base;
@tailwind components;
@tailwind utilities;

/* Main Colors for the Application */
/* 
  Tailwind Rose
  Tailwind Red
  Tailwind Blue
  Tailwind Gray
  Tailwind Slate
  Tailwind Sky 
*/

/* Color Coding to use in undraw.com */
/* #3b82f6 */

/* Hide scrollbar but keep scroll functionality */
.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Spinner Component Styles */
.spinnerBase {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 5px solid #3b82f6;
  border-right: 5px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
